<div class="modal fade" id="charge_account_dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="לסגירה">X</button>

                <h4 class="modal-title">Charge Up Your Account</h4>
            </div>
            <div class="modal-body">
                <form id="charge_account_dialog_body">
                    <div class="form-group">
                        <label for="charge_amount">Amount of credit to add </label>
                        <select class="form-control" id="charge_amount" name="charge_amount">
                            <option name="20_dollar" value="20">$20</option>
                            <option name="40_dollar" value="40">$40</option>
                            <option name="60_dollar" value="60">$60</option>
                        </select>
                    </div>
                    <button class="mainButton" id="charge_account_but">Charge Up</button>
                    <!-- <button class="mainButton" id="login_but_submit">Login</button> -->
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div> -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->